{% extends "base.html" %}
{% block title %} Partie #{{partie.idP}}{% endblock %}
{% block content %}

<h2>Partie #{{partie.idP}}</h2>

<p>
  <strong>{{partie.equipe1}}</strong> VS <strong>{{partie.equipe2}}</strong><br>
  Tour actuel : <strong>{{partie.tour_actuel}}</strong>
</p>

<h2>Grille de {{taille}} x {{taille}}</h2>

<table border="1" cellspacing="0" cellpadding="20" style="text-align:center;">
  {% for i in range(taille) %}
  <tr>
    {% for j in range(taille) %}
    <td style="width:40px; height:40px; text-align:center;">
      {% if grille[i][j]==None %}
        <form method="POST">
          <input type="hidden" name="x" value="{{i}}">
          <input type="hidden" name="y" value="{{j}}">
          <input type="hidden" name="symbole" value="X">
          <button type="submit">----</button>
        </form>
      {% else %}
        {{ grille[i][j]}}
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<br>
<a href="partie_simple/resultats/{{ idP }}">Voir résultats</a>



