{% extends "base.html" %}
{% block title %} Partie #{{partie.idP}}{% endblock %}
{% block content %}

<h2>Partie #{{partie.idP}}</h2>

<p>
  <strong>{{partie.equipe1}}</strong> VS <strong>{{partie.equipe2}}</strong><br>
  Tour actuel : <strong>{{partie.tour_actuel}}</strong>
</p>

<h3>Grille actuelle</h3>

<table border="1" cellspacing="0" cellpadding="10" style="text-align:center;">
  {% for i in range(taille) %}
  <tr>
    {% for j in range(taille) %}
    <td style="width:40px; height:40px; text-align:center;">
      {% if grille[i][j]==None %}
        <form method="POST" action="{{REQUESTS_VARS['partie_simple.jouer']}}?idP={{partie.idP}}">
          <input type="hidden" name="x" value="{{i}}">
          <input type="hidden" name="y" value="{{j}}">
          <input type="hidden" name="symbole" value="{{symbole_joueur}}">
          <button type="submit" style="width:100%; height:100%; font-size:10px;">Libre</button>
        </form>
      {% else %}
        <strong>{{ grille[i][j</strong>
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<br>
<a href="{{REQUESTS_VARS['partie_simple.tour']}}?idP={{partie.idP}}"> Jouer le tour suivant -></a>

{% endblock %}




