{% if REQUEST_VARS['tentative_creation_equipe'] == True%}
  <p>Nous traitons votre demande</p>
  {% if REQUEST_VARS['err_couleur_format'] == True %}
    <p>Pb de couleur</p>
  {% endif %}

  <p>{{REQUEST_VARS['err_nb_morpion']}}</p>

  {% if REQUEST_VARS['err_couleur_indisponible'] == True %}
    <p>Couleur indisponible</p>
  {% endif %}
  {% if REQUEST_VARS['err_nom_indisponible'] == True %}
    <p>{{REQUEST_VARS['err_nom_indisponible']}} - Nom indisponible</p>
  {% endif %}
  {% if REQUEST_VARS['err_format_couleur']%}
    <p> La couleur doit être dans le format suivant: #RRGGBB</p>
  {%endif%}
  {{REQUEST_VARS['err_insertion']}}
{% endif %}

<form method="post" action="">
  <!--couleur-->
  <fieldset>
    <legend>Choisissez la couleur de votre équipe</legend>
    <label for="couleur"></label>
    <input type="color" placeholder="Au format numérique" value="{{REQUEST_VARS['couleurE']}}" name="couleur" id="couleur" required></input>
    <br />
  </fieldset>
  <!--nom-->
  <fieldset>
    <legend>Choisissez le nom de votre équipe</legend>
    <label for="nom"></label>
    <input type="nom" name="nom" id="nom" value="{{REQUEST_VARS['nomE']}}" required></input>
  </fieldset>
  <br />

  <fieldset>
    <legend>Choisissez vos morpions</legend>
      <select size=7 name="morpions" multiple>
        {{REQUEST_VARS["liste_morpion"]}}
        {% for morpion in REQUEST_VARS["liste_morpion"] %}
          <option value="{{morpion[0]}}" id="morpion" style="background-image:url(/static/img/img-morpions/{{morpion[1]}}" >
            <!--mettre l'idM dans value-->
            <!--Donc le rajouter dans contrôleur-->
            <p>
              PV={{morpion[1]}}
              ATK={{morpion[2]}}
              MANA={{morpion[3]}}
              REU={{morpion[4]}}
            </p>
          </option>
        {% endfor %}
      </select>
  </fieldset>
  <button type="submit">Créer l'équipe</button>
</form>
