Choissisez ce que vous voulez faire:
<h1> Placer un nouveau morpion</h1>
<ul>
{% for morpion in REQUEST_VARS[f'equipee{REQUEST_VARS['tour']}']%}
  <li>
    <input type="radio" name="morpion_choisi" value="{{morpion['nom']}}">
    <img src="{{morpion['image']}}">
    <p>Points de vie:{{morpion['PV']}}</p>
    <p>Attaque:{{morpion['ATK']}}</p>
    <p>Points de réussite:{{morpion['REU']}}</p>
    <p>Points de mana:{{morpion['MANA']}}</p>
  </li>
{% endfor %}
</ul>

<h1> Utiliser un morpion déjà placé ! </h1>

<table>
{% for i in REQUEST_VARS['grille'] %}
  <tr>
    {% for j in i %}
      <td>
        {% if j == {} %}
          <input type="radio" name="vide" value="{{i}},{{j}}">
        {% else %}
          <input type="radio" name="morpion" value="{{i}},{{j}}"
          <ul>
            <li><input type="radio" name="sort" value="sn"></li>
            <li><input type="radio" name="sort" value="at"></li>
            <li><input type="radio" name="sort" value="ag"></li>
            <li><input type="radio" name="sort" value="bf"></li>
          </ul>
        {% endif %}
      </td>
    {% endfor %}
  </tr>
{% endfor %}
</table>
