<!DOCTYPE html>
<head>
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/templates/styles/jouer_partie_simple.css" />
  <title>Partie en cours</title>
</head>
<body>
  {% if REQUEST_VARS.get('erreur') == 'erreur'%}
  <div class="error">
    <h2>❌ Erreur</h2>
    <p> Aucune partie renseignée, veuillez en choisir une <a href="/parties/">ici</a></p>
  </div>
  {% else %}
  {% set partie = REQUEST_VARS['partie'] %}

  {% endif %}
  <!--messages-->
  {% if REQUEST_VARS.get('message_victoire') %}
  <div class="success" style="font-size: 1.5em; text-align: center; padding: 20px">
    {{ REQUEST_VARS['message_victoire'] }}
  </div>
  {% endif %}
  {% if REQUEST_VARS.get('message_succes') %}
  <div class="success">{{REQUEST_VARS['message_succes']}}</div>
  {% endif %}
  {% if REQUEST_VARS.get('erreur_action') %}
  <div class="error">{{REQUEST_VARS['erreur_action']}}</div>
  {% endif %}

    <h1>Partie en cours</h1>
    <p>
      <span style="background-color: #{{partie['couleurE1']}}">
      <strong>{{partie['nomE1']}}</strong>
      ({{partie['couleurE1']}})
      </span>
      VS
      <strong>{{partie['nomE2']}}</strong>
      ({{partie['couleurE2']}})
    </p>
    <p>
      C'est à l'équipe 
      {% if partie['joueur']==1 %}
        <strong>{{ partie['nomE1']}}</strong> de jouer
      {% else %}
        <strong>{{ partie['nomE2']}}</strong> de jouer
      {% endif %}
    </p>
    <form method="POST" action="/partie/{{REQUEST_VARS['url_components'][1]}}">
    <h3>Grille :</h3>
    
    <table>
      {% set termine = REQUEST_VARS.get('partie_terminee') %}
      {% for i in range(partie['taille']) %}
      <tr>
        {% for j in range(partie['taille']) %}
        {% set cell= partie['grille'][i][j] %}
        <td>
          {% if cell == 1%}
            <span class="cell-symbol" style="color: #{{ partie['couleurE1'] }};">X</span>
          {% elif cell== 2 %}
            <span class="cell-symbol" style="color: #{{ partie['couleurE2'] }};">O</span>
          {% else %}
            {% if not termine %}
            <input type="radio" name="case" value="{{i}},{{j}}">
            {% endif %}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
      </table>
    <button type="submit">Jouer</button>
<br>
 
    <script>

    </script>
</body>
</html>
